# default build directories
bin/**
build_*/**
install_*/**

# editor files
.vscode/**

# files extensions to exclude
*.i90

# folders to exclude
/src/**/obj/**

# flow fm version files
/src/engines_gpl/dflowfm/**/*.rc
src/engines_gpl/dflowfm/**/unstruc_version.F90

# flow related tools version files
src/tools_gpl/dfm_volume_tool/**/dfm_volume_tool_version.F90
src/tools_gpl/dfmoutput/**/dfmoutput_version.F90
