src/engines_gpl/dflowfm/packages/dflowfm_kernel/src/*.mod
src/engines_gpl/dimr/packages/dimr_lib_tests/*.aps
src/engines_gpl/dimr/packages/dimr_lib_tests/*.eto
src/engines_gpl/dimr/packages/dimr_lib_tests/*.user
src/engines_gpl/dimr/packages/dimr_lib_tests/ClientBin
src/engines_gpl/dimr/packages/dimr_lib_tests/GeneratedArtifacts
src/engines_gpl/dimr/packages/dimr_lib_tests/[Bb]in
src/engines_gpl/dimr/packages/dimr_lib_tests/[Dd]ebug
src/engines_gpl/dimr/packages/dimr_lib_tests/[Rr]elease
src/engines_gpl/dimr/packages/dimr_lib_tests/_Pvt_Extensions
src/engines_gpl/dimr/packages/dimr_lib_tests/obj
src/engines_gpl/dimr/packages/dimr_testcomponent/*.aps
src/engines_gpl/dimr/packages/dimr_testcomponent/*.eto
src/engines_gpl/dimr/packages/dimr_testcomponent/*.user
src/engines_gpl/dimr/packages/dimr_testcomponent/ClientBin
src/engines_gpl/dimr/packages/dimr_testcomponent/GeneratedArtifacts
src/engines_gpl/dimr/packages/dimr_testcomponent/[Bb]in
src/engines_gpl/dimr/packages/dimr_testcomponent/[Dd]ebug
src/engines_gpl/dimr/packages/dimr_testcomponent/[Rr]elease
src/engines_gpl/dimr/packages/dimr_testcomponent/_Pvt_Extensions
src/engines_gpl/dimr/packages/dimr_testcomponent/obj
src/engines_gpl/flow2d3d/packages/flow2d3d_openda/*.aps
src/engines_gpl/flow2d3d/packages/flow2d3d_openda/*.eto
src/engines_gpl/flow2d3d/packages/flow2d3d_openda/*.user
src/engines_gpl/flow2d3d/packages/flow2d3d_openda/[Bb]in
src/engines_gpl/flow2d3d/packages/flow2d3d_openda/[Dd]ebug
src/engines_gpl/flow2d3d/packages/flow2d3d_openda/[Rr]elease
src/engines_gpl/flow2d3d/packages/flow2d3d_openda/obj
src/engines_gpl/flow2d3d/packages/io/*.aps
src/engines_gpl/flow2d3d/packages/io/*.eto
src/engines_gpl/flow2d3d/packages/io/*.user
src/engines_gpl/flow2d3d/packages/io/[Bb]in
src/engines_gpl/flow2d3d/packages/io/[Dd]ebug
src/engines_gpl/flow2d3d/packages/io/[Rr]elease
src/engines_gpl/flow2d3d/packages/io/obj
src/engines_gpl/flow2d3d/packages/kernel/*.aps
src/engines_gpl/flow2d3d/packages/kernel/*.eto
src/engines_gpl/flow2d3d/packages/kernel/*.user
src/engines_gpl/flow2d3d/packages/kernel/[Bb]in
src/engines_gpl/flow2d3d/packages/kernel/[Dd]ebug
src/engines_gpl/flow2d3d/packages/kernel/[Rr]elease
src/engines_gpl/flow2d3d/packages/kernel/obj
src/engines_gpl/waq/packages/delwaq2_openda_lib/*.aps
src/engines_gpl/waq/packages/delwaq2_openda_lib/*.eto
src/engines_gpl/waq/packages/delwaq2_openda_lib/*.user
src/engines_gpl/waq/packages/delwaq2_openda_lib/ClientBin
src/engines_gpl/waq/packages/delwaq2_openda_lib/GeneratedArtifacts
src/engines_gpl/waq/packages/delwaq2_openda_lib/[Bb]in
src/engines_gpl/waq/packages/delwaq2_openda_lib/[Dd]ebug
src/engines_gpl/waq/packages/delwaq2_openda_lib/[Rr]elease
src/engines_gpl/waq/packages/delwaq2_openda_lib/_Pvt_Extensions
src/engines_gpl/waq/packages/delwaq2_openda_lib/obj
src/engines_gpl/waq/packages/wq_processes/*.aps
src/engines_gpl/waq/packages/wq_processes/*.eto
src/engines_gpl/waq/packages/wq_processes/*.user
src/engines_gpl/waq/packages/wq_processes/ClientBin
src/engines_gpl/waq/packages/wq_processes/GeneratedArtifacts
src/engines_gpl/waq/packages/wq_processes/[Bb]in
src/engines_gpl/waq/packages/wq_processes/[Dd]ebug
src/engines_gpl/waq/packages/wq_processes/[Rr]elease
src/engines_gpl/waq/packages/wq_processes/_Pvt_Extensions
src/engines_gpl/waq/packages/wq_processes/obj
src/test/engines_gpl/dflowfm/packages/dflowfm_kernel/*.aps
src/test/engines_gpl/dflowfm/packages/dflowfm_kernel/*.eto
src/test/engines_gpl/dflowfm/packages/dflowfm_kernel/*.nuget.props
src/test/engines_gpl/dflowfm/packages/dflowfm_kernel/*.nuget.targets
src/test/engines_gpl/dflowfm/packages/dflowfm_kernel/*.user
src/test/engines_gpl/dflowfm/packages/dflowfm_kernel/ClientBin
src/test/engines_gpl/dflowfm/packages/dflowfm_kernel/GeneratedArtifacts
src/test/engines_gpl/dflowfm/packages/dflowfm_kernel/[Bb]in
src/test/engines_gpl/dflowfm/packages/dflowfm_kernel/[Dd]ebug
src/test/engines_gpl/dflowfm/packages/dflowfm_kernel/[Rr]elease
src/test/engines_gpl/dflowfm/packages/dflowfm_kernel/_Pvt_Extensions
src/test/engines_gpl/dflowfm/packages/dflowfm_kernel/obj
src/test/engines_gpl/dflowfm/packages/dflowfm_kernel/project.lock.json
src/third_party_open/openda/tests/bin
src/third_party_open/openda/tests/test_dll_noise/Release
src/tools_lgpl/matlab/quickplot/progsrc/tekal_map.m
src/utils_gpl/dhydrology/packages/dhydrology_io/*.aps
src/utils_gpl/dhydrology/packages/dhydrology_io/*.eto
src/utils_gpl/dhydrology/packages/dhydrology_io/*.user
src/utils_gpl/dhydrology/packages/dhydrology_io/ClientBin
src/utils_gpl/dhydrology/packages/dhydrology_io/GeneratedArtifacts
src/utils_gpl/dhydrology/packages/dhydrology_io/[Bb]in
src/utils_gpl/dhydrology/packages/dhydrology_io/[Dd]ebug
src/utils_gpl/dhydrology/packages/dhydrology_io/[Rr]elease
src/utils_gpl/dhydrology/packages/dhydrology_io/_Pvt_Extensions
src/utils_gpl/dhydrology/packages/dhydrology_io/obj
src/utils_gpl/dhydrology/packages/dhydrology_kernel/*.aps
src/utils_gpl/dhydrology/packages/dhydrology_kernel/*.eto
src/utils_gpl/dhydrology/packages/dhydrology_kernel/*.user
src/utils_gpl/dhydrology/packages/dhydrology_kernel/ClientBin
src/utils_gpl/dhydrology/packages/dhydrology_kernel/GeneratedArtifacts
src/utils_gpl/dhydrology/packages/dhydrology_kernel/[Bb]in
src/utils_gpl/dhydrology/packages/dhydrology_kernel/[Dd]ebug
src/utils_gpl/dhydrology/packages/dhydrology_kernel/[Rr]elease
src/utils_gpl/dhydrology/packages/dhydrology_kernel/_Pvt_Extensions
src/utils_gpl/dhydrology/packages/dhydrology_kernel/obj
src/utils_gpl/dhydrology/tests/*.aps
src/utils_gpl/dhydrology/tests/*.eto
src/utils_gpl/dhydrology/tests/*.user
src/utils_gpl/dhydrology/tests/ClientBin
src/utils_gpl/dhydrology/tests/GeneratedArtifacts
src/utils_gpl/dhydrology/tests/[Bb]in
src/utils_gpl/dhydrology/tests/[Dd]ebug
src/utils_gpl/dhydrology/tests/[Rr]elease
src/utils_gpl/dhydrology/tests/_Pvt_Extensions
src/utils_gpl/dhydrology/tests/obj
src/utils_lgpl/ec_module/packages/tests/ec_module_tests/*.aps
src/utils_lgpl/ec_module/packages/tests/ec_module_tests/*.eto
src/utils_lgpl/ec_module/packages/tests/ec_module_tests/*.user
src/utils_lgpl/ec_module/packages/tests/ec_module_tests/ClientBin
src/utils_lgpl/ec_module/packages/tests/ec_module_tests/GeneratedArtifacts
src/utils_lgpl/ec_module/packages/tests/ec_module_tests/[Bb]in
src/utils_lgpl/ec_module/packages/tests/ec_module_tests/[Dd]ebug
src/utils_lgpl/ec_module/packages/tests/ec_module_tests/[Rr]elease
src/utils_lgpl/ec_module/packages/tests/ec_module_tests/_Pvt_Extensions
src/utils_lgpl/ec_module/packages/tests/ec_module_tests/obj
src/utils_lgpl/gridgeom/packages/gridgeom/*.aps
src/utils_lgpl/gridgeom/packages/gridgeom/*.eto
src/utils_lgpl/gridgeom/packages/gridgeom/*.user
src/utils_lgpl/gridgeom/packages/gridgeom/ClientBin
src/utils_lgpl/gridgeom/packages/gridgeom/GeneratedArtifacts
src/utils_lgpl/gridgeom/packages/gridgeom/[Bb]in
src/utils_lgpl/gridgeom/packages/gridgeom/[Dd]ebug
src/utils_lgpl/gridgeom/packages/gridgeom/[Rr]elease
src/utils_lgpl/gridgeom/packages/gridgeom/_Pvt_Extensions
src/utils_lgpl/gridgeom/packages/gridgeom/obj
src/utils_lgpl/io_netcdf/packages/io_netcdf_managed/*.aps
src/utils_lgpl/io_netcdf/packages/io_netcdf_managed/*.eto
src/utils_lgpl/io_netcdf/packages/io_netcdf_managed/*.nuget.props
src/utils_lgpl/io_netcdf/packages/io_netcdf_managed/*.nuget.targets
src/utils_lgpl/io_netcdf/packages/io_netcdf_managed/*.user
src/utils_lgpl/io_netcdf/packages/io_netcdf_managed/ClientBin
src/utils_lgpl/io_netcdf/packages/io_netcdf_managed/GeneratedArtifacts
src/utils_lgpl/io_netcdf/packages/io_netcdf_managed/[Bb]in
src/utils_lgpl/io_netcdf/packages/io_netcdf_managed/[Dd]ebug
src/utils_lgpl/io_netcdf/packages/io_netcdf_managed/[Rr]elease
src/utils_lgpl/io_netcdf/packages/io_netcdf_managed/_Pvt_Extensions
src/utils_lgpl/io_netcdf/packages/io_netcdf_managed/obj
src/utils_lgpl/io_netcdf/packages/io_netcdf_managed/project.lock.json
src/utils_lgpl/io_netcdf/packages/io_netcdf_managed_test/*.aps
src/utils_lgpl/io_netcdf/packages/io_netcdf_managed_test/*.eto
src/utils_lgpl/io_netcdf/packages/io_netcdf_managed_test/*.nuget.props
src/utils_lgpl/io_netcdf/packages/io_netcdf_managed_test/*.nuget.targets
src/utils_lgpl/io_netcdf/packages/io_netcdf_managed_test/*.user
src/utils_lgpl/io_netcdf/packages/io_netcdf_managed_test/ClientBin
src/utils_lgpl/io_netcdf/packages/io_netcdf_managed_test/GeneratedArtifacts
src/utils_lgpl/io_netcdf/packages/io_netcdf_managed_test/[Bb]in
src/utils_lgpl/io_netcdf/packages/io_netcdf_managed_test/[Dd]ebug
src/utils_lgpl/io_netcdf/packages/io_netcdf_managed_test/[Rr]elease
src/utils_lgpl/io_netcdf/packages/io_netcdf_managed_test/_Pvt_Extensions
src/utils_lgpl/io_netcdf/packages/io_netcdf_managed_test/obj
src/utils_lgpl/io_netcdf/packages/io_netcdf_managed_test/project.lock.json
src/utils_lgpl/io_netcdf/packages/tests/UGrid.tests/*.aps
src/utils_lgpl/io_netcdf/packages/tests/UGrid.tests/*.eto
src/utils_lgpl/io_netcdf/packages/tests/UGrid.tests/*.user
src/utils_lgpl/io_netcdf/packages/tests/UGrid.tests/ClientBin
src/utils_lgpl/io_netcdf/packages/tests/UGrid.tests/GeneratedArtifacts
src/utils_lgpl/io_netcdf/packages/tests/UGrid.tests/[Bb]in
src/utils_lgpl/io_netcdf/packages/tests/UGrid.tests/[Dd]ebug
src/utils_lgpl/io_netcdf/packages/tests/UGrid.tests/[Rr]elease
src/utils_lgpl/io_netcdf/packages/tests/UGrid.tests/_Pvt_Extensions
src/utils_lgpl/io_netcdf/packages/tests/UGrid.tests/obj
src/utils_lgpl/unittests/General.tests/*.aps
src/utils_lgpl/unittests/General.tests/*.eto
src/utils_lgpl/unittests/General.tests/*.user
src/utils_lgpl/unittests/General.tests/ClientBin
src/utils_lgpl/unittests/General.tests/GeneratedArtifacts
src/utils_lgpl/unittests/General.tests/[Bb]in
src/utils_lgpl/unittests/General.tests/[Dd]ebug
src/utils_lgpl/unittests/General.tests/[Rr]elease
src/utils_lgpl/unittests/General.tests/_Pvt_Extensions
src/utils_lgpl/unittests/General.tests/obj
