# default build directories
bin/**

# editor files
.vscode/**

# files extensions to exclude
*.i90

# folders to exclude
src/utils_lgpl/**/tests/**/obj/**
src/utils_lgpl/**/unittests/**/obj/**
src/utils_lgpl/io_netcdf/packages/io_netcdf_csharp/**/obj/**
src/engines_gpl/dflowfm/tests/DFlowFMTests/**/obj/*